.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.product-wrapper img {
  height: 10rem;
  width: 10rem;
}

.product-wrapper .card {
  transition: all 0.2s;
}

.product-wrapper .card:hover {
  box-shadow: 0px 0px 4px 4px #ddd;
  cursor: pointer;
  transform: translateY(-1px);
}

.product-details p {
  font-size: 1.2rem;
}

.categ-tabs {
  display: flex;
  justify-content: center;
  margin: 3px;
}

.categ-tabs #category {
  background-color: transparent;
  border-radius: none;
  padding: none;
  margin: 1.6rem 0 0 0;
  cursor: none;
  font-size: 20px;
}

.categ-tabs p {
  background-color: #eee;
  border-radius: 4px;
  padding: 10px;
  margin: 2rem;
  cursor: pointer;
}

